section {
    .container {
        .row {
            display: block;
            padding: 1em;
            background-color: gray;
        }
    
        .col {
            padding: 1em 1em;
            background-color: gray;
        }

    }
}