<header>
  <app-header></app-header>
</header>

<section>
    <div class="container">
        <div class="row">
      
            <div class="col">
              <h2>SERIES</h2>
              <app-series [seriesFeed]="seriesAndMovies"></app-series>
            </div>
      
            <div class="col">
              <h2>MOVIES</h2>
              <app-movies [moviesFeed]="seriesAndMovies"></app-movies>
            </div>
       
          </div>
      </div>
</section>

<footer>
  <app-footer></app-footer>
</footer>