header {
    background-color: deepskyblue;
    // background-image: linear-gradient(deepskyblue, lightblue, deepskyblue);
    color: #FFF;

    .nav {
        padding: 1em;
        background-image: linear-gradient(deepskyblue, skyblue, deepskyblue);

        .logo {
            font-size: 2em;
            font-weight: bold;
            display: inline-block;
            clear:right;
        }
        ul {
            list-style: none;
            float: right;
            margin: 0em 0em;
            li {
                padding-left:15px
            }
        }

        .login {
            display: inline-block;
            clear:right;
            margin-top: .75em;
            

            a {
                text-decoration:none;
                color:#FFF;
                font-weight: bold;
            }
        }

        .start-free-trail {
            float: right;
           
            button {
                border: none;
                padding: .75em;
                color: #FFF;
                font-size: 1em;
                background-color: #333; 

            }
        }
    }
    
    .heading {
        background-color: #333;
        background-image: linear-gradient(#222, #333, #555);

        h1 {
            padding: .5em .5em;
            margin: 0em;
        }

    }
}