<div class="footer">
    <div class="links">
        <ul>
            <li><a href="">Home</a>|</li>
            <li><a href="">Terms and Conditions</a>|</li>
            <li><a href="">Privacy Policy</a>|</li>
            <li><a href="">Collection Statement</a>|</li>
            <li><a href="">Help</a>|</li>
            <li><a href="">Manage Account</a></li>
        </ul>
    </div>
    
    <div class="copyright">
        Copyright &copy; 2016 - 2019 DEMO Streaming. All Rights Reserved.
    </div>
    
    <div class="socials">
        <div class="social-icons">
            <ul>
                <li>
                    <img src="../../assets/social/facebook-blue.svg" width="20" height="20" />
                </li>
        
                <li>
                    <img src="../../assets/social/twitter-blue.svg" width="20" height="20" />
                </li>
        
                <li>
                    <img src="../../assets/social/instagram-blue.svg" width="20" height="20" />
                </li>
            </ul>
        </div>

        <div class="app-store">
            <ul>
                <li>
                    <img src="../../assets/store/app-store.svg" width="100" alt="Apple app store" />
                </li>
        
                <li>
                    <img src="../../assets/store/play-store.svg" width="100" alt="Google play app store"  />
                </li>
        
                <li>
                    <img src="../../assets/store/windows-store.svg" width="100" alt="Microsoft app store"  />
                </li>
            </ul>
        </div>
    </div>
</div>
