<div class="footer">
    <div class="links">
        <ul>
            <li><a href="/">Home</a>|</li>
            <li><a href="/">Terms and Conditions</a>|</li>
            <li><a href="/">Privacy Policy</a>|</li>
            <li><a href="/">Collection Statement</a>|</li>
            <li><a href="/">Help</a>|</li>
            <li><a href="/">Manage Account</a></li>
        </ul>
    </div>
    
    <div class="copyright">
        Copyright &copy; 2016 - 2019 DEMO Streaming. All Rights Reserved.
    </div>
    
    <div class="socials">
        <div class="social-icons">
            <ul>
                <li>
                    <a href="https://www.facebook.com" title="Facebook"><img src="../../assets/social/facebook-blue.svg" width="20" height="20" alt="Facebook" /></a>
                </li>
        
                <li>
                   <a href="https://twitter.com/" title="Twitter"><img src="../../assets/social/twitter-blue.svg" width="20" height="20" alt="Twitter" /></a>
                </li>
        
                <li>
                   <a href="https://www.instagram.com/" title="Instagram"><img src="../../assets/social/instagram-blue.svg" width="20" height="20"  alt="Instagram" /></a>
                </li>
            </ul>
        </div>

        <div class="app-store">
            <ul>
                <li>
                    <a href="https://www.apple.com/za/ios/app-store/" title="App store"><img src="../../assets/store/app-store.svg" width="100" alt="Apple app store" /></a>
                </li>
        
                <li>
                    <a href="https://play.google.com/store?gl=ZA&utm_source=emea_Med&utm_medium=hasem&utm_content=Mar2017&utm_campaign=Evergreen&pcampaignid=MKT-DR-emea-za-1001280-Med-hasem-py-Evergreen-Mar2017-Text_Search_BKWS%7cONSEM_kwid_43700007751153801&gclid=CjwKCAjw29vsBRAuEiwA9s-0B6s0ffTlrXQyICRWALH2CF99m7g_nAuGwCFeQGVW0uNICj1Dpk8CXxoCEIMQAvD_BwE&gclsrc=aw.ds" title="Google play store"><img src="../../assets/store/play-store.svg" width="100" alt="Google play app store"  /></a> 
                </li>
        
                <li>
                    <a href="https://www.microsoft.com/en-us/store/apps/windows" title="Microsoft app store"><img src="../../assets/store/windows-store.svg" width="80" alt="Microsoft app store"  /></a> 
                </li>
            </ul>
        </div>
    </div>
</div>
