<section>
    <article>
        <div class="series">
            <h3>Series</h3>

            <div *ngFor="let series of seriesFeed; let i of seriesFeed.length;">
                <div *ngIf="series.programType === 'series' && series.releaseYear >= 2010">
                    <div *ngIf="seriesFeed.slice(0,20)">
                        <div class="series-box">
                            <h4>{{series.title }}</h4>
                            <img src="{{series.images['Poster Art']['url']}}" width="200" height="250" />
                            <h5>{{series.programType}}</h5>
                            <p>Released: {{ series.releaseYear }}</p>
                            <p>{{ series.description }}</p>
                        </div> 
                    </div>
                     
                </div>
            </div>
        </div>
    </article>
</section>

