<section>
    <article>
        <div class="movies">
            <h3>Movies</h3>

            <div *ngFor="let movies of moviesFeed; index as i;">
                <div *ngIf="movies.programType === 'movie' && movies.releaseYear >= 2010">
                        
                    <div class="movies-box">
                        <h4>{{movies.index}} {{ movies.title }}</h4>
                        <img src="{{ movies.images['Poster Art']['url'] }}" width="200" height="250" />
                        <h5>{{ movies.programType }}</h5>
                        <p>Released: {{ movies.releaseYear }}</p>
                        <p>{{ movies.description }}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </article>
</section>  
