<section>
      <div id="wrap">
            <article>
                <div class="series">
                    <a routerLink="/series">
                        Series
                        <img src="./../../assets/placeholder.png" alt=""  width="250" class="styling" />
                    </a>
                    <p>Popular series</p>
                </div>
            
                <div class="movies">
                    <a routerLink="/movies">
                        Movies
                        <img src="./../../assets/placeholder.png" alt=""  width="250" class="styling"/>
                    </a>
                    <p>Popular movies</p>
                </div>
            </article>
      </div>
  </section>

