article {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 1em;
    background-color: #FFF;

    .movies {
        padding:1em;
        float: left;
        clear: right;
    
        a {
            color: #FFF;
            font-size: 22px;
            width: 200px;
            text-align: center;
            float: left;
            background-position-y: center;
            text-decoration: none;
            border: 1px solid;
            padding: 6em 0em 0em;
            background-color: #000;
        }
    }

    img.styling {
        margin-top: -75px;
        background-position-x: left;
        background-size: cover;
        padding-bottom: 75px;
    }

    .series {
        float: left;
        clear: left;

        padding:1em 0em 1em 1em;
    
        a {
            color: #FFF;
            font-size: 22px;
            width: 200px;
            text-align: center;
            float: left;
            background-position-y: center;
            text-decoration: none;
            border: 1px solid;
            padding: 6em 0em 0em;
            background-color: #000;
        }
        p {
            margin-bottom: 10px;
        }
    }
}

